.display-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  
  .option-group h3 {
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .option-group{
    display: flex;
    width: 260px;
    justify-content:space-between;
    align-self: center;
  }
  .option-group select {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
  }
  select{
    border: 2px;
  }
  .option-group h3{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #919191;
  }
  option p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }