/* src/styles/KanbanBoard.css */
.kanban-board {
    display: flex;
    gap: 20px;
    justify-content: left;
    padding: 20px;
    flex-wrap: wrap;
    /* overflow-x: auto; */
  }
  
  .kanban-column {
    background-color: transparent;
    border-radius: 3px;
    padding: 10px;
    width: 360px;
    /* max-height: calc(100vh - 100px); */
    /* overflow-y: auto; */
  }
  
  .kanban-column h2 {
    text-align: center;
    color: #333;
    /* background-color: white; */
    margin-bottom: 10px;
  }
  
  .kanban-loading,
  .kanban-error {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  .group-header{
    display: flex;
    justify-content:space-between;

  }
  .group-header-left{
    display: flex;
    flex-direction: row;
  }
  .group-header-left{
    display: flex;
    justify-content: center;

  }
  