.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    border-bottom: 2px solid E7E7E6;
  }
  
  .navbar-left {
    position: relative;
  }
  
  .display-button {
    background-color: white;
    border: 2px solid #E7E7E6;
    border-radius: 10px;
    color: black;
    padding: 8px 12px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .display-button p{
    margin-right:3px ;
  }
  
  .display-button img{
    margin-right:5px ;
  }
  
  .display-options-container {
    position: absolute;
    top: 50px;
    left: 0;
    border: 2px solid E7E7E6;
    
    background-color: white;
    border: 2px solid #E7E7E6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
  }
  
  .navbar-right h1 {
    margin: 0;
    font-size: 20px;
  }
  